@import '../../utils.scss';

.contacts {
  position: relative;
  color: $c-white;
}

.darker {
  @extend %darker;
  opacity: 0.8;
  background: black;
}

.container {
  @extend %container;
  padding: 100px 150px;
  font-size: 24px;
}

.heading {
  @extend %heading;
  opacity: 0.8;
}

.contactsWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.textWrapper {
  opacity: 0.8;
}

.phone {
  margin-top: 20px;
}

.link {
  text-decoration: none;
  color: $c-white;
  transition: 0.3s;

  &:hover {
    color: $c-orange;
  }
}

.address {
  margin-top: 20px;
}

.map {
  height: 350px;
  width: 350px;
  border-radius: 5px;
}

@media (max-width: 1100px) {
  .container {
    padding: 100px;
  }
}

@media (max-width: 980px) {
  .container {
    padding: 100px 0;
  }
}

@media (max-width: 770px) {
  .container {
    padding: 100px 0;
  }

  .contactsWrapper {
    flex-direction: column;
    align-items: center;
  }

  .heading {
    text-align: center;
  }

  .map {
    margin-top: 50px;
  }
}

@media (max-width: 360px) {
  .address {
    font-size: 20px;
  }

  .map {
    height: 90vw;
    width: 90vw;
  }
}
