@import '../../utils.scss';

.event {
  position: relative;
}

.darker {
  @extend %darker;
  background: $c-white;
}

.container {
  @extend %container;
  padding: 100px 150px;
  font-size: 24px;
}

.heading {
  @extend %heading;
  text-align: center;
}

.image {
  margin: 48px auto 0;

}

.paragraph {
  margin-top: 48px;
  line-height: 1.3;
}
